# MongoDB
MONGODB_URI=mongodb+srv://hamizasghar:Hami9361@cluster0.tkinc.mongodb.net/gcproject
# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRE=7d

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=justreveal662@gmail.com
EMAIL_PASSWORD=pygb pfps fqcr yskf
FROM_NAME=EduHub LMS
FROM_EMAIL=noreply@eduhub.edu

# # Cloudinary
# CLOUDINARY_API_KEY=397558645299889
# CLOUDINARY_API_SECRET=WIylYksCT__o9Do5Sevd4Jbch-4
# NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dw9hrpx15
# NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=FYPGC

# Cloudinary
CLOUDINARY_API_KEY=279678682731281
CLOUDINARY_API_SECRET=oolugYv0I04QGYxGtykRx3ZzADM
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dit3dubrf
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=portfolio