# MongoDB
MONGODB_URI=mongodb://fahadshakeeldev:fahad123@ac-nuuzzb3-shard-00-00.4nafln9.mongodb.net:27017,ac-nuuzzb3-shard-00-01.4nafln9.mongodb.net:27017,ac-nuuzzb3-shard-00-02.4nafln9.mongodb.net:27017/ApexIelts?ssl=true&replicaSet=atlas-ftvv7o-shard-0&authSource=admin&appName=Cluster0

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRE=7d

# Email
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=nurspire@gmail.com
EMAIL_PASSWORD=sxma uxdo axub xqmu
FROM_NAME=EduHub LMS
FROM_EMAIL=noreply@eduhub.edu

# Cloudinary
CLOUDINARY_API_KEY=279678682731281
CLOUDINARY_API_SECRET=oolugYv0I04QGYxGtykRx3ZzADM
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dit3dubrf
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=portfolio