# MongoDB
MONGODB_URI=mongodb://127.0.0.1:27017/eduhub_lms

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this
JWT_EXPIRE=7d

# Email (optional - for signup verification & password reset)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password
FROM_NAME=EduHub LMS
FROM_EMAIL=noreply@eduhub.edu
